# Python
# ---------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
myenv/

# Testing
# ---------------------------------
.pytest_cache/
.coverage
htmlcov/

# Database
# ---------------------------------
*.sqlite3
kaas.db
kaas.db-journal

# Logs
# ---------------------------------
*.log

# Storage
# ---------------------------------
storage/
chroma_db/

# Frontend
# ---------------------------------
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env.local

# IDE & OS Specific
# ---------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db